.task-container{
    min-height: 50px;
    min-width: 90%; 
    border: 1px solid #333;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    gap: 10px   ;
    margin: 0 auto; /* Center the task container */
    
}
.text{
    max-width: 40%;
}
.btns{
    display: flex;
    height: 100%;
    width: auto;
    gap: 1px    ;
    border-radius: 5px;
   
}
.edit,.delete{
    margin-right: 10px;
    min-height: 100%;
    width: 50px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0
}

.edit:hover,.delete:hover{
    background-color: #444;
    border: black;
}

.due-date{
    width: auto;
    display: flex;
    
}

.save{
    border-radius: 0;
    margin-right: 10px;
}