.container{
    min-height: 600px !important; 
    min-width: 500px !important; 
    border: 1px solid white !important; 
    border-radius: 5px;
    display: flex !important; 
    flex-direction: column !important; 
    align-items: center;
    padding-bottom: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    
    gap: 25px   ;
}
